<div id="profile_list">
  <% @profiles.each do |profile| %>
      <div class="profile_thumb">
        <div class="profile_image">
          <%= image_tag(profile.avatar.url(:thumb), :id => 'profile_image') %>
        </div>
        <div class="profile_name">
          <%= profile.name %>
        </div>
        <div class="profile_role_city"><%= profile.role %> <%= profile.city %></div>
        <div class="profile_link">
          <%= link_to "View Profile", friendly_profile_path(profile.user_name), :class => "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>