<div id="image_container">
  <div id="profile_card">
    <%= image_tag(@profile.avatar.url(:medium), :id => 'profile_image') %>
    <div id="profile_name"><%= @profile.name %></div>
    <div id="profile_role"><%= @profile.role %></div>
    <div id="profile_city"><%= @profile.city %></div>
  </div>
  <div id="cover_pic">
    <%= image_tag(@profile.cover_image.url, :id => 'cover_image') %>
  </div>
</div>

<div id="profile_container">
  <div id="about" class="clearfix">
    <div class="phone_container"><%= image_tag("phone.png", :class => 'phone', :title => "Phone") %><%= @profile.contact_no %></div>
    <div class="email_container"><%= image_tag("mail.png", :class => 'mail', :title => "E-Mail") %>
      <a href="mailto:#"><%= @profile.email %></a></div>
  </div>

  <% if can? :edit, @profile %>
      <div id="edit_container">
        <%= link_to edit_profile_path(@profile), :class => 'btn btn-info' do %>
            <i class="icon-edit"></i> Edit Profile
        <% end %>
      </div>
      </div>
  <% end %>


  <% if can? :update, @profile %>
      <div id="providers">
        <div id="github" class="unit_provider">
          <div class="title">GitHub</div>
          <%= image_tag("octocat_fluid.png", :title => 'GitHub', :alt => "GitHub") %>
          <div class="status">
            <% if @providers.present? and @providers.include?(Site::PROVIDERS[:github]) %>
                <div class="added_success">
                  <%= image_tag("tick.png", :title => 'Added', :alt => "Added") %>
                  Added
                </div>
                <div class="update_time_text">
                  Updated <%= time_ago_in_words(get_site_for(Site::PROVIDERS[:github], @sites)) %> ago
                  <%= link_to "Update", github_success_path, :class => "btn btn-info btn-mini" %>
                </div>
            <% else %>
                <%= link_to "Authorize", github_authorize_path, :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div id="stack-exchange" class="unit_provider">
          <div class="title">Stack Overflow</div>
          <%= image_tag("stack-overflow.png", :title => 'StackOverflow', :alt => "StackOverflow") %>
          <div class="status">
            <% if @providers.present? and @providers.include?(Site::PROVIDERS[:stackoverflow]) %>
                <div class="added_success">
                  <%= image_tag("tick.png", :title => 'Added', :alt => "Added") %>
                  Added
                </div>
                <div class="update_time_text">
                  Updated <%= time_ago_in_words(get_site_for(Site::PROVIDERS[:stackoverflow], @sites)) %> ago
                  <%= link_to "Update", stack_overflow_stats_path, :class => "btn btn-info btn-mini" %>
                </div>
            <% else %>
                <%= link_to "Add", stack_overflow_add_path, :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div id="linked-in" class="unit_provider">
          <div class="title">LinkedIn</div>
          <%= image_tag("linked_in.png", :title => 'LinkedIn', :alt => "LinkedIn", :size => "128x128") %>
          <div class="status">
            <% if @providers.present? and @providers.include?(Site::PROVIDERS[:linkedin]) %>
                <div class="added_success">
                  <%= image_tag("tick.png", :title => 'Added', :alt => "Added") %>
                  Added
                </div>
                <div class="update_time_text">
                  Updated <%= time_ago_in_words(get_site_for(Site::PROVIDERS[:linkedin], @sites)) %> ago
                  <%= link_to "Update", linkedin_success_path, :class => "btn btn-info btn-mini" %>
                </div>
            <% else %>
                <%= link_to "Add", linkedin_index_path, :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div id="rss-feed" class="unit_provider">
          <div class="title">Blog RSS</div>
          <%= image_tag("rss.png", :title => 'BlogRSS', :alt => "BlogRSS", :size => "128x128") %>
          <div class="status">
            <% if @providers.present? and @providers.include?(Site::PROVIDERS[:rssfeed]) %>
                <div class="added_success">
                  <%= image_tag("tick.png", :title => 'Added', :alt => "Added") %>
                  Added
                </div>
                <div class="update_time_text">
                  Updated <%= time_ago_in_words(get_site_for(Site::PROVIDERS[:rssfeed], @sites)) %> ago
                  <%= link_to "Update", 'javascript:void(0)', :class => "btn btn-info btn-mini" %>
                </div>
            <% else %>
                <%= link_to "Add", feeds_add_path, :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
  <% else %>
      <% if @providers.nil? %>
          <div id="providers">
            No Services Added
          </div>
      <% else %>
          <h3>Added Accounts</h3>

          <div id="providers">
            <% if @providers.include?(Site::PROVIDERS[:github]) %>
                <div id="github" class="unit_provider">
                  <div class="title">GitHub</div>
                  <%= image_tag("octocat_fluid.png", :title => 'GitHub', :alt => "GitHub") %>
                </div>
            <% end %>

            <% if @providers.include?(Site::PROVIDERS[:stackoverflow]) %>
                <div id="stack-exchange" class="unit_provider">
                  <div class="title">Stack Overflow</div>
                  <%= image_tag("stack-overflow.png", :title => 'StackOverflow', :alt => "StackOverflow") %>
                </div>
            <% end %>

            <% if @providers.include?(Site::PROVIDERS[:linkedin]) %>
                <div id="linked-in" class="unit_provider">
                  <div class="title">LinkedIn</div>
                  <%= image_tag("linked_in.png", :title => 'LinkedIn', :alt => "LinkedIn", :size => "128x128") %>
                </div>
            <% end %>
            <% if @providers.include?(Site::PROVIDERS[:rssfeed]) %>
                <div id="rss-feed" class="unit_provider">
                  <div class="title">Blog RSS</div>
                  <%= image_tag("rss.png", :title => 'BlogRSS', :alt => "BlogRSS", :size => "128x128") %>
                </div>
            <% end %>
          </div>
          <div>
            <%= link_to friendly_wall_path(@profile.user_name), :class => 'btn btn-primary' do %>
                Wall
            <% end %>
          </div>
      <% end %>
  <% end %>
