<% if current_user %>
    <h1>User Profile</h1>
    <p>
      <strong>Name:</strong>
      <%= current_user.name %>
    </p>
    <p>
      <strong>Provider:</strong>
      <%= current_user.provider %>
    </p>
    <p>
      <strong>OmniAuth UID:</strong>
      <%= current_user.uid %>
    </p>
    <p><%= link_to "Log out", logout_path %></p>
<% else %>
    <div class="four column">
      <%= link_to "Sign in with Google", "/auth/google_oauth2", :class => "radius button" %>
    </div>
<% end %>
