<h1>User Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>User Name:</strong>
  <%= @user.user_name %>
</p>
<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>
<p>
  <strong>OmniAuth UID:</strong>
  <%= @user.uid %>
</p>
<p><%= link_to "Log out", logout_path %></p>